**/target
**/build
**/bin
**/out
**/logs
**/node_modules
*.text
.gradle
.git
.idea
.settings
**/*.project
**/*.log
**/*.bat
**/*.iml
!germes-presentation-admin/target/admin.war
!germes-geography-service/target/geography-service.war
germes-user-service/target/user-service.jar
!germes-user-service/build/libs/user-service.jar
!germes-ticket-service/build/libs/ticket-service.jar